<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área do Administrador</title>
    <script type="text/javascript" src="../assets/js/userJs.js"> </script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
    <link rel="stylesheet" href="../assets/style/styleAdim.css">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 
</head>
<body>

<!-- GErando Navbar para o Admin   -->
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark"> 
           <div class="column col-2"> <a class="navbar-brand" href="#"> Gustavo Serpeloni </a> </div>
           <div class="column col-8"></div>
           <form class="form-inline col-3">
                <button class="btn btn-dark col" type="submit">Logout</button>
            </form>  
        </nav>
    </div>


    <div class="row areaUse">
        <div class=" sidebar col-sm-2">
            <ul>
                <li>  <a href="#"> TSTESTE </a>  </li>
            </ul>  
        </div>

        <div class="col-sm-10">
            COLUNA PARA MODIFICACAO E INSERCAO DOS DADOS 

        </div>
    
    
    </div>


    <div>
        <div class="row footer">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi voluptatem voluptas inventore. Atque dicta adipisci omnis temporibus, esse alias ducimus ipsa vel dolorum et rem voluptas dolores ullam non eum!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur adipisci quibusdam placeat error optio, blanditiis voluptates non laudantium necessitatibus, harum quidem assumenda quae, ea tempora sapiente libero mollitia officia dignissimos.
        </div>
    </div>


</body>
</html>